.how-to{
  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 6rem;

  &__header{
    text-align: center;
    margin: 0 auto;
    max-width: 50%;
    padding: 3rem;
  }

  &__title{
    font-size: $font-size-header;
    font-weight: 500;
    margin-bottom: 3rem;
  }

  &__description{
    // margin: 4rem;
  }

  &__steps{
    margin-top: 6rem;
  }

  &__step{
    padding: 2rem 3rem;
  }

  &__step-image{
    max-width: 10rem;
  }

  &__step-name{
    margin-top: 2rem;
    font-size: $font-size-subheader;
  }

  &__step-description{
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 800px){
  .how-to{

    &__header{
      max-width: 100%;
      text-align: left;
    }
  }
}