//COLORS
// $light-grey: #e9ecef;
// $bright-yellow: #fcc419;
// $darker-yellow: #fab005;
// $background-gray: #343a40;
// $font-gray: #212529;
$light-grey: #e9ecef;
$bright-yellow: #fcc419;
$darker-yellow: #fab005;
$background-gray: #343a40;
$font-gray: #212529;

//FONT
$font-size-small: 1.6rem;
$font-size-normal: 1.8rem;
$font-size-large: 2.2rem;
$font-size-header: 4.2rem;
$font-size-subheader: 2.6rem;

//SPACING
